@charset "UTF-8";

#header{
	/* width: 100%; */
	--width: 100%;
	height: 70px;
	--overflow: hidden;
	background: yellow;
}

#header>div{
	width:960px;
	height:100%;
	margin-left:auto;
	margin-right:auto;
	background: #0000ff20;
	text-align: center;
}

#visual{
	height: 171px;
	background: gray;	
	position: relative;
}

	#visual>div{
		width:960px;
		height:100%;
		margin-left:auto;
		margin-right:auto;
		background: #0000ff40;
		text-align: center;
	}

#body{
	min-height: 300px;
	
	background: blue;	
}

	#body>div{	
		border:1px solid red;
		width:960px;		
		min-height:inherit;
		margin-left:auto;
		margin-right:auto;
		background: #ff00ff40;
		text-align: center;
	}
	
	#aside{
		min-height: inherit;
		background: pink;
		width:205px;
		float:left;
	}
	
	#main{
		min-height: inherit;		
		background: white;
		width:205px;
		float:left;
	}
	
	#main::after{
		content: "동생이야~";
		display: block;
		clear:left;
	}

#footer{
	height: 100px;
	background: black;
	
}

	#footer>div{
		width:960px;
		height:100%;
		margin-left:auto;
		margin-right:auto;
		background: #0000ff40;
		text-align: center;
	}
